@font-face 
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?r6y580');
  src:  url('../fonts/icomoon.eot?r6y580#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?r6y580') format('truetype'),
    url('../fonts/icomoon.woff?r6y580') format('woff'),
    url('../fonts/icomoon.svg?r6y580#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;


[class^="icon-"], [class*=" icon-"] 
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


.icon-pull-up:before 
  content: "\e903";

.icon-pull-right:before 
  content: "\e905";

.icon-date:before 
  content: "\e906";

.icon-tag:before 
  content: "\e907";

.icon-back-up:before 
  content: "\e908";

.icon-back-down:before 
  content: "\e90a";

.icon-book:before 
  content: "\e90e";

.icon-phone:before 
  content: "\e90d";

.icon-report:before 
  content: "\e90c";

.icon-star:before 
  content: "\e90b";

.icon-arrow:before 
  content: "\e909";

.icon-search:before 
  content: "\e900";

.icon-back:before 
  content: "\e901";

.icon-cancel:before 
  content: "\e902";

.icon-gou:before 
  content: "\e90f";

.icon-scrollTop:before 
  content: "\e904";

.icon-dian:before 
  content: "\e910";

